.nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: gainsboro;
}

.links {
  display: flex;
  gap: 30px;
  
}
.link{
  text-decoration: none;
}

.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

.card {
  width: 300px;
  background-color: beige;
  height: 300px;
  border-radius: 10%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.services_card{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial_card > img {
  height: 130px;
  width: 130px;
  border-radius: 10px;
}

.testimonial_card {
  display: flex;
  gap: 20px;
  background-color: beige;
  padding: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.testimonial_cards {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.testimonials > h1   {
  text-align: center;
  margin-top: 30px;
}

@media only screen and (width: 320px) {
  .testimonial_card {
    margin-left: 10px;
    flex-direction: column;
  }
  .nav{
  gap: 10px;
  }
  .card {
    width: 100%;
  }
}